import React from 'react';
import './demo.less';
import { <%= icons.join(', ') %> } from '../icons';

const Demo = () => {
  const onClick = (name: string) => {
    document.execCommand('Copy');
  }

  return (
    <ul className="demo"><%
      icons.forEach(function(item) {%>
        <li className="icon">
          <<%= item %> />
          <span className="icon-desc"><%= item %></span>
        </li><%})
    %>
    </ul>
  )
}

export default Demo;